<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    <title>{{title}}</title>
</head>
<body class="d-flex justify-content-center bg-dark">
    <div class="p-5">
        <div class="container">
            <p><a class="link-offset-2 link-offset-1 link-underline link-underline-opacity-0" href="/">
                <h1 class="display-4">Nenhuma categoria por aqui!</h1>
            </a></p> 
           
        </div>
    </div>

    {% bootstrap_javascript %}
</body>
</html>